<div class="container">
  <div class="row-lg-11">
    <div class="col-3">
      <h5 class="bg-light text-center">管理者ログイン</h5>
    </div>
  </div>
  <div class="row-lg-11">
    <%= render "admin/shared/error_messages", resource: resource %>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <table class="table">
      <tbody>
        <tr>
          <td><%= f.label :メールアドレス %></td>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email",:placeholder => "sample@example.com",required: true %></td>
        </tr>
        <tr>
          <td><%= f.label :パスワード %></td>
          <td><%= f.password_field :password, autocomplete: "current-password",required: true %></td>
        </tr>
        <tr>
          <td></td>
          <td><%= f.submit "ログイン", class: "btn btn-primary" %></td>
        </tr>
      </tbody>
    </table>
    <% end %>
  </div>
</div>
<%= render "admin/shared/links" %>
