<div class="main-container">
  <div class="jumbotron jumbotron-fluid text-white"  style="background: url(<%= asset_path "sofa.png" %>) center; background-size:cover;">
    <div class="text-center">
      <h1>収支管理で<br>～生活を豊かに～</h1>
      <p>どんどん溜まっていく持ち物。<br>
        ついつい放置していませんか？<br>
        そんな生活を変えるアプリです。
      </p>
      <p>このアプリと一緒に、<br>気持ちまでスッキリしませんか？</p>

      <!--ログイン時に在庫一覧ボタンを表示する-->
      <div class="btn-container">
        <% if customer_signed_in? %>
          <%= link_to items_path, class: "btn btn-warning btn-lg rounded-pill" do %>
            <i class="fas fa-weight-hanging"></i> 在庫を追加してみましょう！ <i class="fas fa-weight-hanging"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <!--スクロールバーを表示-->
  <div class="scrolldown4"><span>Scroll</span></div>

  <section>
    <div class="text-center toppage">
      <h2><b>アプリ説明</b></h2>
      <p>
        家にある持ち物を<br>
        <b>登録、確認、収支管理</b>
        できるアプリです！
      </p>
    </div>
  </section>

  <div class="container-fluid py-5 mw-md">
    <section>
      <div class="row">
        <div class="col-md-6">
          <div class="text-center">
            <h2 class="text-success"><b>商品を一覧に登録</b></h2>
            <p>
              商品をリストに追加し　　　　<br>
              商品の変更、削除ができます。<br>
              また、商品の売上金計算も　　<br>
              自動で行います！　　　　　　</p>
          </div>
        </div>
        <div class="col-md-6">
          <%= image_tag "item.png", class: "featurette-image img-fluid" %>
        </div>
      </div>
    </section>

    <section>
      <div class="row">
        <div class="col-md-6">
          <div class="text-center">
            <h2 class="text-success"><b>ジャンル分け機能</b></h2>
            <p>
              商品をジャンルごとに分け<br>
              ジャンルごとの商品の　　<br>
              売り上げ計算が可能です！
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <%= image_tag "genre.png", class: "featurette-image img-fluid" %>
        </div>
      </div>
    </section>

    <section>
      <div class="row">
        <div class="col-md-6">
          <div class="text-center">
            <h2 class="text-success"><b>商品の検索機能</b></h2>
            <p>
              多数の商品を登録し　　　　　<br>
              商品名を検索すると　　　　　<br>
              検索した商品を絞り込みます！
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <%= image_tag "search.png", class: "featurette-image img-fluid" %>
        </div>
      </div>
    </section>

    <section>
      <div class="d-flex justify-content-center">
        <div class="col-lg-6 d-flex flex-column">
          <% unless customer_signed_in? %>
            <h2 class="text-center">さあ はじめよう!</h2>
            <p class="text-center">登録は1分で完了します。</p>
            <div class="text-center text-align start ">
              <%= link_to "ゲストログイン(閲覧用)",customers_guest_sign_in_path, class: "btn btn-outline-secondary rounded-pill", method: :post %>
              <%= link_to "新規登録", new_customer_registration_path, class: "btn btn-outline-info rounded-pill" %>
            </div>
          <% else %>
          <h2 class="text-center">在庫一覧に<br>行ってみましょう！</h2>
          <p class="text-center">こちらのボタンを押してください↓</p>
          <div class="btn-container text-center">
            <%= link_to items_path, class: "btn btn-outline-success rounded-pill" do %>
              <i class="fas fa-weight-hanging"></i> 在庫一覧へ <i class="fas fa-weight-hanging"></i>
            <% end %>
          </div>
          <% end %>
        </div>
     </div>
    <section>
  </div>
</div>