<div class="container">
  <div class="row py-2">
    <!--見出し-->
    <div class="col-md-10">
      <h2>ジャンル一覧・追加  <i class="fas fa-hand-holding-medical"></i></h2>
    </div>
  </div>

  <!--ジャンル名追加フォーム-->
  <div class="row py-4">
    <div class="product-list">
      <div class="col-12 col-lg-8">
        <table class="table table-bordered table-striped table-hover shadow ">
          <caption>こちらからジャンルを追加してください↑</caption>
          <%= form_with model: @genre, url: genres_path, local: false do |f| %>
            <td class="col-2"><%= f.label :name, "ジャンル名"  %></td>
            <td class="col-2"><%= f.text_field :name,:placeholder => "ジャンルを入力", required: true %></td>
            <td class="col-4">
              <%= button_tag type: "submit",  class: "btn btn-outline-success mb5 btn-lg" do %>
               <i class="fas fa-pen-fancy"></i> <span class="d-none d-md-inline"> 新規登録</span>
              <% end %>
            </td>
          <% end %>
        </table>
      </div>
    </div>
  </div>

  <!--ジャンル名一覧、編集、削除-->
  <div class="row">
    <div class="col-md-6">
      <!--create.js.erbで指定したIDを追加-->
      <div id="genre-table">
        <!--@genreを部分テンプレートで使えるようにする記述。つまり、部分テンプレートの中にあるgenresは@genresなんだよ-->
        <%= render "genreform", genres: @genres %>
      </div>
      <!--在庫一覧に行くボタン-->
      <div class="text-center">
        <%= link_to items_path, class: "btn btn-info rounded-pill" do %>
          <i class="fas fa-weight-hanging"></i> 在庫一覧へ
        <% end %>
      </div>
    </div>
  </div>
</div>