<div class="container">
  <div class="row">
    <div class="col-md-12">
  <!--今日、昨日過去7日間の投稿表示-->
      <h1 class="text-center mt-4">
        投稿数推移表 <i class="far fa-chart-bar"></i><br>(グラフ表示)
      </h1>
      <div class="product-list">
        <table class="table table-bordered table-striped shadow mt-4 mb-5">
          <thead class="table-warning">
            <tr>
              <th>今日の投稿</th>
              <th>昨日の投稿</th>
              <th>前日比</th>
            </tr>
          </thead>
            <tbody>
              <tr>
               <td><%= @today_item.count %></td>
               <td><%= @yesterday_item.count %></td>
               <% if @yesterday_item.count == 0 %>
                 <td>前日の投稿はなし</td>
               <% else %>
               　<td><% @the_day_before =   @today_item.count / @yesterday_item.count.to_f  %>
               　<%= (@the_day_before * 100).round %>%</td>
               <% end %>
              </tr>
            </tbody>
            <thead class="table-success">
            <tr>
             <th>今週の投稿</th>
             <th>先週の投稿</th>
             <th>比</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @this_week_item.count %></td>
              <td><%= @last_week_item.count %></td>
              <% if @last_week_item.count == 0 %>
              <td>先週の投稿はなし</td>
              <% else %>
              　<td><% @the_week_before =   @this_week_item.count / @last_week_item.count.to_f  %>
              　<%= (@the_week_before * 100).round %>%</td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>

      <!--グラフを追加-->
      <canvas id="myChart" width="200" height="100"> </canvas>

      <script>
          let ctx = document.getElementById("myChart").getContext('2d');
          let myChart = new Chart(ctx, {
              type: 'bar',                      //# 'bar'でグラフタイプを縦棒グラフに指定
              data: {
                  labels: <%= @chartlabels %>,  //# 横軸にとるデータ(今回は投稿日付)を埋め込む
                  datasets: [{
                      label: "投稿数",
                      data: <%= @chartdatas %>, //# 縦軸にとるデータ(今回は投稿数)を埋め込む
                      backgroundColor: 'rgba(118, 179, 234)',
                      borderColor: 'rgba(255, 80, 120, 1.0)',
                      fill: false
                  }]
              },
              options: {
                scales: {
                  y: {
                    suggestedMin: 0,
                    ticks: {   
                      stepSize: 1// 目盛り
                    }
                  }
                }
              }
          })
      </script>
    </div>
  </div>
</div>