<h1>在庫一覧</h1>

<h1><%= link_to "商品追加", new_item_path, class:"btn btn-success center-block" %></h1>
<h1><%= link_to "ジャンル追加",genres_path,class:"btn btn-success center-block" %></h1>

<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th></th>
      <th>購入日時</th>
      
      <th>商品名</th>
      <th>購入金額</th>
      <th>売却金額</th>
      <th>利益</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
     <tr>
      <td></td>
      <td><%= item.Date_of_purchase %></td>
      <td>
        <%= link_to item_path(item) do %>
          <%= item.name %>
        <% end %>
      </td>
      <td><%= item.Purchase_amount %></td>
      <td><%= item.Sale_amount %></td>
      <td></td>
     </tr>
    <% end %>
  </tbody>
</table>
