<!--フラッシュメッセージ-->
<div><%= flash[:notice] %></div>

<div class="container">
  <div class="row">
    <div class="col-2">
      <!--ジャンル検索部分テンプレート呼び出し-->
      <%= render 'genrevar', genres: @genres %>
    </div>

    <div class="col-10">
      <h1 style="margin: 20px 0;">在庫一覧(全
          <% if @items.empty? %>
            0件)
          <% else %>
            <%= @items.count %>件)
          <% end %>
      </h1>
      <h1><%= link_to "商品追加", new_item_path, class:"btn btn-success center-block" %></h1>
      <h1><%= link_to "ジャンル追加",genres_path,class:"btn btn-info center-block" %></h1>
      <table class='table table-hover table-inverse'>
        <thead>
          <tr>
            <th>写真</th>
            <th>購入日時</th>
            <th>商品名</th>
            <th>ジャンル  </th>
            <th>購入金額</th>
            <th>売却金額</th>
            <th>利益</th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
            <tr>
            <td>
              <% if item.image.attached? %>
                <%= image_tag item.image, size: "100x100" %>
              <% else %>
                <%= image_tag 'noimage.png',size: "100x100" %>
              <% end %>
            </td>
            <td><%= item.Date_of_purchase %></td>
            <td>
              <%= link_to item_path(item) do %>
                <%= item.name %>
              <% end %>
            </td>
            <td><%= item.genre.name %></td>
            <td><%= item.Purchase_amount %>円</td>
            <td><%= item.Sale_amount %>円</td>
            <td><%= item.Sale_amount - item.Purchase_amount %>円</td>
            </tr>
          <% end %>
        </tbody>
      </table>


      <!--全合計部分-->
      
      <div class="row my-2">
        <table class="table table-bordered">
          <thead>
            <tr style="font-size: 18px">
              <th>購入合計</th>
              <th>売却合計</th>
              <th>利益合計</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @items.sum(:Purchase_amount) %>円</td>
              <td><%= @items.sum(:Sale_amount) %>円</td>
              <td><%= @items.sum(:Sale_amount) - @items.sum(:Purchase_amount) %>円</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>