<% if @item.errors.any? %>

 <p><%= @item.errors.count %>errors prohibited this obj from being saved:</p>

 <ul>

  <% @item.errors.full_messages.each do |message| %>

   <li><%= message %></li>

  <% end %>

 </ul>

<% end %>

<div class="container">
  <div class="row">
    <h2>商品新規登録</h2>
  </div>
  <div class="row">
    <div class=col-3>
      <% if @item.image.attached? %>
        <span><%= image_tag @item.image, size: "250x250", id: 'preview' %></span>
      <% else %>
        <span><%= image_tag 'noimage.png',size: "250x250", id: 'preview' %></span>
      <% end %>
    </div>

    <div class="col-8 offset-md-1">
    <%= form_with model: @item,url: items_path do |f| %>
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td>商品画像</td>
              <td><%= f.file_field :image, accept: "image/jpg,image/png,image/jpeg", onchange: 'previewImage(this);' %></td>
            </tr>
            <tr>
              <td>購入日時</td>
              <td><%= f.date_field :purchased_at, required: true %></td>
            </tr>
            <tr>
              <td>商品名</td>
              <td><%= f.text_field :name,required: true %></td>
            </tr>
            <tr>
              <td>購入金額</td>
              <td><%= f.number_field :purchase_amount,required: true, min: 0 %>円</td>
            </tr>
            <tr>
              <td>売却金額</td>
              <td><%= f.number_field :sale_amount,required: true, min: 0 %>円</td>
            </tr>
            <tr>
              <td>ジャンル</td>
              <td><%= f.select :genre_id, options_from_collection_for_select( Genre.where(customer_id: current_customer.id), :id, :name),{ include_blank: "選択して下さい" }, :required => true %></td>
            </tr>
            <tr>
              <td>販売ステータス</td>
              <td><%= f.select :item_status, Item.item_statuses_i18n.invert, {include_blank: "選択して下さい" }, :required => true %></td>
            </tr>
            <tr>
              <td>メモ</td>
              <td><%= f.text_area :memo, class: "hoge", size: "50x3" %></td>
            </tr>
          </tbody>
        </table>
        <div class="col text-center">
        <%= f.submit "　　新規登録　　",class:"btn btn-success center-block" %>
        </div>
      <% end %>
    </div>
  </div>
</div>



<!--画像を変えた時のJavascriptの記述-->
<script>
function previewImage(obj) {
  const fileReader = new FileReader
  fileReader.onload = (function() {
    document.getElementById('preview').src = fileReader.result;
  });
  fileReader.readAsDataURL(obj.files[0]);
}
</script>