<header>
 <nav class="navbar navbar-light mb-2" style="background-color:#fff7ef;">
  <div class="container">
   <p class="text-left"><%= link_to root_path, data: {"turbolinks" => false} do %>
    <%= image_tag 'stock.jpg',size: '110x110' %>
    <% end %>
   </p>

<!-- 顧客サインイン後-->
<!--コメント ルーティング修正、色々修正が必要、-->
<%# if customer_signed_in? %>
 <span>ようこそ！<%#= current_customer.last_name + current_customer.first_name %>さん</span>
  <ul class="nav justify-content-end">
   <li class="nav-item">
    <%= link_to "マイページ編集", root_path, class: "nav-link" %>
   </li>
   <li class="nav-item">
    <%= link_to "商品一覧", root_path, class: "nav-link" %>
   </li>
   <li class="nav-item">
    <%= link_to "about", about_path, class: "nav-link" %>
   </li>
   <li class="nav-item">
    <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "nav-link" %>
   </li>
  </ul>
 </header>