<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag('Stock Management.png') %>
    <title>Stock Management</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <!--ヘッダー呼び出し-->
  <body>
    <%= render "layouts/header" %>
    <%= render 'layouts/flash' %>
    <%= yield %>
  </body>
  
  <footer>
    <div class="footer"></div>
  </footer>

  <!--フッター呼び出し-->
  <%#= render "layouts/footer" %>
</html>
